<template>
  <!-- <div>
    <a href="https://vitejs.dev" target="_blank">
      <img src="/vite.svg" class="logo" alt="Vite logo" />
    </a>
    <a href="https://vuejs.org/" target="_blank">
      <img src="./assets/vue.svg" class="logo vue" alt="Vue logo" />
    </a>
  </div>
  <HelloWorld msg="Vite + Vue" /> -->
  
  <p style="font-weight: bold;">Computer</p>
  <div style="display: flex;flex-grow: 1;flex-wrap:wrap;flex-direction: row;height: 200px; width: 300px; background-color: red; justify-content: center;align-items: center; column-gap: 4px;">
  </div>

  <p style="font-weight: bold;">Me</p>
  <div style="display: flex;flex-grow: 1;flex-wrap:wrap; flex-direction: row;height: 200px; width: 300px; background-color: blue; justify-content: center;align-items: center; column-gap: 4px;">
    <div v-for="item in dataRoot" >
      <img :src="item.img" style="width: 60px; height: 100px; " />
    </div>
  </div>

  <button style="margin-top: 60px;"  @click="onPlay" >
    Play
  </button>
</template>

<script>
import { defineComponent } from 'vue';
import HelloWorld from './components/HelloWorld.vue';

export default defineComponent({
  components: {
    HelloWorld
  },
  data() {
    return {
      dataMe:[],
      dataComputer:[],
      dataRoot: [
        {
          value:1,
          img: '../images/labai/bich_1.png'
        },
        {
          value:2,
          img: '../images/labai/bich_2.png'
        },
        {
          value:3,
          img: '../images/labai/bich_3.png'
        },
        {
          value:4,
          img: '../images/labai/bich_4.png'
        },
        {
          value:5,
          img: '../images/labai/bich_5.png'
        },
        {
          value:6,
          img: '../images/labai/bich_6.png'
        },
        {
          value:7,
          img: '../images/labai/bich_7.png'
        },
        {
          value:8,
          img: '../images/labai/bich_8.png'
        },
        {
          value:9,
          img: '../images/labai/bich_9.png'
        },
        {
          value:10,
          img: '../images/labai/bich_10.png'
        },
        {
          value:11,
          img: '../images/labai/bich_11.png'
        },
        {
          value:12,
          img: '../images/labai/bich_12.png'
        },
        {
          value:13,
          img: '../images/labai/bich_13.png'
        },

        {
          value:1,
          img: '../images/labai/co_1.png'
        },
        {
          value:2,
          img: '../images/labai/co_2.png'
        },
        {
          value:3,
          img: '../images/labai/co_3.png'
        },
        {
          value:4,
          img: '../images/labai/co_4.png'
        },
        {
          value:5,
          img: '../images/labai/co_4.png'
        },
        {
          value:6,
          img: '../images/labai/co_6.png'
        },
        {
          value:7,
          img: '../images/labai/co_7.png'
        },
        {
          value:8,
          img: '../images/labai/co_8.png'
        },
        {
          value:9,
          img: '../images/labai/co_9.png'
        },
        {
          value:10,
          img: '../images/labai/co_10.png'
        },
        {
          value:11,
          img: '../images/labai/co_11.png'
        },
        {
          value:12,
          img: '../images/labai/co_12.png'
        },
        {
          value:13,
          img: '../images/labai/co_13.png'
        },

        {
          value:1,
          img: '../images/labai/ro_1.png'
        },
        {
          value:2,
          img: '../images/labai/ro_2.png'
        },
        {
          value:3,
          img: '../images/labai/ro_3.png'
        },
        {
          value:4,
          img: '../images/labai/ro_4.png'
        },
        {
          value:5,
          img: '../images/labai/ro_4.png'
        },
        {
          value:6,
          img: '../images/labai/ro_6.png'
        },
        {
          value:7,
          img: '../images/labai/ro_7.png'
        },
        {
          value:8,
          img: '../images/labai/ro_8.png'
        },
        {
          value:9,
          img: '../images/labai/ro_9.png'
        },
        {
          value:10,
          img: '../images/labai/ro_10.png'
        },
        {
          value:11,
          img: '../images/labai/ro_11.png'
        },
        {
          value:12,
          img: '../images/labai/ro_12.png'
        },
        {
          value:13,
          img: '../images/labai/ro_13.png'
        },

        {
          value:1,
          img: '../images/labai/tep_1.png'
        },
        {
          value:2,
          img: '../images/labai/tep_2.png'
        },
        {
          value:3,
          img: '../images/labai/tep_3.png'
        },
        {
          value:4,
          img: '../images/labai/tep_4.png'
        },
        {
          value:5,
          img: '../images/labai/tep_4.png'
        },
        {
          value:6,
          img: '../images/labai/tep_6.png'
        },
        {
          value:7,
          img: '../images/labai/tep_7.png'
        },
        {
          value:8,
          img: '../images/labai/tep_8.png'
        },
        {
          value:9,
          img: '../images/labai/tep_9.png'
        },
        {
          value:10,
          img: '../images/labai/tep_10.png'
        },
        {
          value:11,
          img: '../images/labai/tep_11.png'
        },
        {
          value:12,
          img: '../images/labai/tep_12.png'
        },
        {
          value:13,
          img: '../images/labai/tep_13.png'
        },
      ]
    };
  },
  created() {

  },
  mounted() {

  },
  methods: {
    onPlay() {
      alert('a')
    }
 },
});
</script>

<style scoped>
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}
</style>